<form method="POST">
    <div><label>Letter 1 Green: <input type="text" name="l1g" value="{{l1g}}"></label></div>
    <div><label>Letter 2 Green: <input type="text" name="l2g" value="{{l2g}}"></label></div>
    <div><label>Letter 3 Green: <input type="text" name="l3g" value="{{l3g}}"></label></div>
    <div><label>Letter 4 Green: <input type="text" name="l4g" value="{{l4g}}"></label></div>
    <div><label>Letter 5 Green: <input type="text" name="l5g" value="{{l5g}}"></label></div>
    <div><label>Letter 1 Yellows: <input type="text" name="l1y" value="{{l1y}}"></label></div>
    <div><label>Letter 2 Yellows: <input type="text" name="l2y" value="{{l2y}}"></label></div>
    <div><label>Letter 3 Yellows: <input type="text" name="l3y" value="{{l3y}}"></label></div>
    <div><label>Letter 4 Yellows: <input type="text" name="l4y" value="{{l4y}}"></label></div>
    <div><label>Letter 5 Yellows: <input type="text" name="l5y" value="{{l5y}}"></label></div>
    <div><label>Grey Letters: <input type="text" name="grey" value="{{strgrey}}"></label></div>
    <input type="submit" value="Submit"></form><br>
    
    <h1>The green list is: {{green}}</h1>
    <h1>The yellow list is: {{yellow}}</h1>
    <h1>The grey list is: {{grey}}</h1>
    <br>
    <h1>The next best word is: {{word}}</h1>

</form>